[submodule "boundflow/3rdparty/tvm"]
	path = boundflow/3rdparty/tvm
	url = https://github.com/leezear2022/tvm
[submodule "boundflow/3rdparty/tvm-ffi"]
	path = boundflow/3rdparty/tvm-ffi
	url = https://github.com/leezear2022/tvm-ffi
[submodule "boundflow/3rdparty/auto_LiRPA"]
	path = boundflow/3rdparty/auto_LiRPA
	url = https://github.com/leezear2022/auto_LiRPA
